@model WebApplication1.Models.Tb1_Musteriler

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>
    <link href="~/Css/stilim.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <h1>Sakarya BİP Otomotiv</h1>
        <h4>Müşteri Kayıt Sayfası (Hogeldiniz @Html.DisplayFor(model => model.TcKimlik))</h4>
        <hr />
        <table border="1" cellpadding="5" cellspacing="0" width="500">
            <tr>
                <td width="40%">Tc Kimlik No</td>
                <td>@Html.DisplayFor(model => model.TcKimlik, new { htmlAttributes = new { @class = "from-control" } })</td>
            </tr>

            <tr>
                <td>Ad Soyad</td>
                <td>@Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "from-control" } })</td>
            </tr>

            <tr>
                <td>Doğum Tarihi</td>
                <td>@Html.EditorFor(model => model.DoğumTarihi, new { htmlAttributes = new { @class = "from-control" } })</td>
            </tr>

            <tr>
                <td>Cisiyet</td>
                <td>
                    @Html.RadioButtonFor(model => model.Cinsiyet, "E") Erkek
                    @Html.RadioButtonFor(model => model.Cinsiyet, "K") Kadın
                </td>
            </tr>

            <tr>
                <td>Telefon</td>
                <td>@Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "from-control" } })</td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" value="Kaydet" /></td>
            </tr>
        </table>
    }

<p>
    @Html.ActionLink("Profil", "Profil") |
    @Html.ActionLink("Şifre Değiştir", "sifreDegistir") |
    @Html.ActionLink("Oturumu Kapat", "Cikis") |
    @Html.ActionLink("Rezervasyonlarım", "Rezervation") |
    @Html.ActionLink("Araçlar", "Vehicle") |
</p>
</body>
</html>
